@import "color";

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background;
}

.middle {
  width: 80%;
  margin: auto;
}

.timeStamp {
  font-size: 0.9rem;
  color: $greyfont;
  text-align: right;
}
.timeStampReplyDot {
  margin: 0px 5px;
  font-size: 0.9rem;
  color: $greyfont;
}
.timeStampReplyName{
  margin-left: 10px;
}
.timeStampReply {
  margin-left: 3px;
  font-size: 0.9rem;
  color: $greyfont;
}
