@import "color";
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background;
}

.middle {
  width: 80%;
  margin: auto;
}

.write-info {
  font-size: 0.9rem;
  color: $greyfont;
  text-align: right;
  .ternary-option-middot {
    margin: 0px 5px;
  }
  .modify,
  .delete {
    cursor: pointer;
    &:hover {
      color: crimson;
    }
  }
}

.reply-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  .reply-top-left {
    .timeStampReplyDot,
    .timeStampReplyTime {
      margin-left: px;
      font-size: 0.9rem;
      color: $greyfont;
    }
  }
  .reply-top-right {
    .modify,
    .delete {
      font-size: 0.9rem;
      color: $greyfont;
      cursor: pointer;
      &:hover {
        color: crimson;
      }
    }
  }
}

.timeStampReplyName {
  color: #333;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: right;
  cursor: pointer;
}

.timeStampReply {
  margin-left: 3px;
  font-size: 0.9rem;
  color: $greyfont;
}

.likeBtn {
  cursor: pointer;
}

.complete-top {
  // font-size: 1vw;
  // width: 1.2vw;
  // border: solid 1px blue;
  color: $primaryPurple !important;
}

.complete-bot {
  font-size: 1rem;
  font-weight: bold;
  color: $primaryPurple !important;
}

.complete-badge {
  padding: 3px 10px;
  background: $primaryPurple;
  letter-spacing: 0.4px;
}

.break-top {
  // width: 1.2vw;
  color: $primaryYellow !important;
}

.break-bot {
  font-size: 1rem;
  font-weight: bold;
  color: $primaryYellow !important;
}

.break-badge {
  padding: 3px 10px;
  background: $primaryYellow;
  letter-spacing: 0.4px;
}

.modify {
  color: $greyfont;
}
/* 
  #===================================================================# 
  |                               헬프데스크                             | 
  #===================================================================#
*/
.helpdesk-btn-open {
  font-size: 1rem;
  margin-left: 10px;
  padding: 0px;
  padding-left: 10px;
  border: none;
  text-decoration: none;
  background: none;
  color: ghostwhite;
  cursor: pointer;
  &:hover {
    color: $primaryYellow;
  }
}
.helpdesk-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  width: 700px;
  height: 400px;
  background: ghostwhite;
}

.helpdesk-container {
  width: 100%;
  height: 100%;
  border: solid 3px rgba($color: $primaryBlue, $alpha: 0.8);
  .helpdesk-title {
    margin-top: 50px;
    text-align: center;
    letter-spacing: 0.5rem;
    color: rgba($color: $primaryBlue, $alpha: 0.8);
    h1 {
      font-size: 2rem;
    }
  }
  .helpdesk-body {
    margin-top: 20px;
    text-align: center;
    color: rgba($color: $primaryBlue, $alpha: 0.8);
    .helpdesk-body-item {
      margin-bottom: 40px;
      h3 {
        margin-top: 10px;
        font-size: 1.5rem;
      }
    }
    .helpdesk-body-word {
      margin-top: 5px;
      margin-bottom: 30px;
      h3 {
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
      }
    }
  }
  .helpdesk-btn-close {
    margin: auto;
    padding: 5px 10px;
    border: solid 3px rgba($color: $primaryBlue, $alpha: 0.8);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 900;
    display: block;
    text-decoration: none;
    background: none;
    color: rgba($color: $primaryBlue, $alpha: 0.8);
  }
}

.showcase {
  background: $primaryYellow;
  margin: 0 auto;
}

.write-btn {
  border: none;
  background: rgba($color: $primaryBlue, $alpha: 0.7);
  color: ghostwhite;

  &:hover {
    background: $primaryBlue;
  }
}

.no-result-container {
  min-height: 620px;
  background-color: rgb(244, 244, 244);
  .emptybox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    .no-result-text {
      position: relative;
      text-align: center;
      top: 120px;
      font-size: 2.5rem;
      padding-bottom: 15px;
      border-bottom: 2px solid lightgrey;
      // border: solid 1px red;
      font-weight: bolder;
      opacity: 0.4;
      color: $greyfont;
      font-weight: bolder;
    }
  }
  .img-box {
    min-height: 420px;
    background-image: url("../../images/search_empty_page_withoutButton.png");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    .no-result-button-cntr {
      position: absolute;
      display: flex;
      text-align: center;
      flex-direction: column;
      left: 60%;
      top: 350px;
      // margin-top: 150px;
      width: 220px;
      .question-in-korean {
        background-color: $primaryBlue;
        color: ghostwhite;
        padding-left: 30px;
        padding-right: 30px;
        &:hover {
          background-color: $primaryBlue;
          color: ghostwhite;
        }
      }
      .search-by-tag {
        background-color: transparent;
        color: rgb(11, 27, 51);
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
.Web3Provider-container {
  margin: 0 auto;
  padding-top: 70px;
  height: 900px !important;
}
