@import "color";
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background;
}

.middle {
  width: 80%;
  margin: auto;
}

.write-info {
  font-size: 0.9rem;
  color: $greyfont;
  text-align: right;
  .ternary-option-middot {
    margin: 0px 5px;
  }
  .modify,
  .delete {
    cursor: pointer;
    &:hover {
      color: crimson;
    }
  }
}

.reply-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  .reply-top-left {
    .timeStampReplyDot,
    .timeStampReplyTime {
      margin-left: px;
      font-size: 0.9rem;
      color: $greyfont;
    }
  }
  .reply-top-right {
    .modify,
    .delete {
      font-size: 0.9rem;
      color: $greyfont;
      cursor: pointer;
      &:hover {
        color: crimson;
      }
    }
  }
}

.timeStamp {
}

.timeStampReplyName {
  color: #333;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: right;
  cursor: pointer;
}

.timeStampReply {
  margin-left: 3px;
  font-size: 0.9rem;
  color: $greyfont;
}

.likeBtn {
  cursor: pointer;
}

.complete {
  color: coral !important;
}

.complete-badge {
  padding: 3px 10px;
  background: coral;
  letter-spacing: 0.4px;
}

.modify {
  color: $greyfont;
}