@import "color";
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background;
}

.middle {
  width: 80%;
  margin: auto;
}

.write-info {
  font-size: 0.9rem;
  color: $greyfont;
  text-align: right;
  .ternary-option-middot {
    margin: 0px 5px;
  }
  .modify,
  .delete {
    cursor: pointer;
    &:hover {
      color: crimson;
    }
  }
}

.reply-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  .reply-top-left {
    .timeStampReplyDot,
    .timeStampReplyTime {
      margin-left: px;
      font-size: 0.9rem;
      color: $greyfont;
    }
  }
  .reply-top-right {
    .modify,
    .delete {
      font-size: 0.9rem;
      color: $greyfont;
      cursor: pointer;
      &:hover {
        color: crimson;
      }
    }
  }
}

.timeStamp {
}

.timeStampReplyName {
  color: #333;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: right;
  cursor: pointer;
}

.timeStampReply {
  margin-left: 3px;
  font-size: 0.9rem;
  color: $greyfont;
}

.likeBtn {
  cursor: pointer;
}

.complete {
  font-size: 1.1rem;
  color: coral !important;
}

.complete-badge {
  padding: 3px 10px;
  background: coral;
  letter-spacing: 0.4px;
}

.modify {
  color: $greyfont;
}

.helpdesk-btn-open {
  margin-left: 10px;
  border: none;
  text-decoration: none;
  background: none;
  color: ghostwhite;
}
.helpdesk-btn-close {
  margin: 0 auto;
  padding: 5px 10px;
  border: solid 3px rgba($color: $primaryBlue, $alpha: 0.8);
  border-radius: 5px;
  font-weight: 900;
  display: block;
  text-decoration: none;
  background: none;
  color: rgba($color: $primaryBlue, $alpha: 0.8);
}
.helpdesk-container {
  width: 100%;
  height: 100%;
  border: solid 3px rgba($color: $primaryBlue, $alpha: 0.8);
  .helpdesk-title {
    margin-top: 30px;
    text-align: center;
    letter-spacing: 0.5rem;
    color: rgba($color: $primaryBlue, $alpha: 0.8);
  }
  .helpdesk-body {
    margin-top: 35px;
    text-align: center;
    color: rgba($color: $primaryBlue, $alpha: 0.8);
    .helpdesk-body-item {
      margin-bottom: 40px;
    }
    .helpdesk-body-word {
      margin-top: 40px;
      margin-bottom: 30px;
    }
    h3 {
      margin-top: 10px;
      letter-spacing: 0.1rem;
    }
  }
}
.helpdesk-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  width: 700px;
  height: 400px;
  background: ghostwhite;
}
