@import "color";

.footer {
  background: $primaryBlue;
  display: flex;
  width: 90%;
  margin-left: 5%;
  height: 20rem;
  align-items: center;
  justify-content: space-between;
  // background-image: url("./images/unsplash/photo-1424873380396-9580028d74db.jpg");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
}

.foot_item {
  text-decoration: none;
  color: ghostwhite;
  padding-left: 20px;
}

.left {
  padding-left: 30px;
}

.right {
  padding-right: 30px;
}
