@import "color";

.footer {
  width: 80%;
  margin-left: 10%;
  height: 20rem;
  background: $primaryBlue;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-image: url("./images/unsplash/photo-1424873380396-9580028d74db.jpg");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
}

.footerItem {
  text-decoration: none;
  color: ghostwhite;
  padding-left: 20px;
}

.footerLeft {
  padding-left: 30px;
}

.footerRight {
  padding-right: 30px;
}
