@import "color";

.Header {
  width: 80%;
  margin: 0 auto;
  background: rgba($color: $primaryYellow, $alpha: 1);
  .logo-header {
    padding: 0;
    margin: 0;
    width: 80%;
  }
}
.header-container {
  width: 80%;
  // border: solid 1px red;
  display: flex;
  justify-content: space-between;
}
.header-title {
  width: 10vw;
  padding-left: 1vw;
}

.header-brand {
  font-size: 1.6vw;
  font-weight: 900;
  letter-spacing: 0.1rem;
}
.header-tabs {
  height: auto;
  width: 230px;
  justify-content: left;
}

.header-search {
  width: 35vw;
  display: none;
  .search-input {
    width: 100%;
    border: solid 3px $primaryBlue;
    background: transparent;
    color: $primaryBlue;
    font-weight: bolder;
    &::placeholder {
      color: $primaryBlue;
      font-weight: bolder;
      letter-spacing: 0.1rem;
    }
    &:hover {
      background-color: ghostwhite;
    }
  }
  .search-btn {
    letter-spacing: 0.1rem;
    background-color: transparent;
    color: $primaryBlue;
    font-weight: 700;
    border: solid 3px;
    &:hover {
      background-color: $primaryBlue;
      color: $primaryYellow;
      border: solid 3px $primaryBlue;
    }
  }
}
.header-search-invisible {
  width: 45%;
  height: 37.5px;
}

.navbar-nav {
  // padding-right: 41px;
  display: flex;
  justify-content: left;
  li {
    .item {
      margin: 0 10px;
      padding: 0px 3px 3px 3px;
      color: $primaryBlue;
      font-weight: 700;
      font-size: 1.1vw;
      letter-spacing: 0.2rem;
      text-decoration-style: none;
      &:hover {
        border-bottom: solid 2px $primaryBlue;
      }
    }
  }
}
