@import "color";

.Header {
  width: 80%;
  margin: 0 auto;
  background: rgba($color: $primaryYellow, $alpha: 1);
  .logo-header {
    padding: 0;
    margin: 0;
    width: 80%;
  }
}
.header-container {
  width: 80%;
  // border: solid 1px red;
  display: flex;
  justify-content: space-between
}
.header-title {
  // border: solid 1px red;
  width: 200px;
  padding-left: 10px;
}
.header-tabs {
  height: auto;
  
  // border: solid 1px red;
  justify-content: center;
}

.header-search {
  // border: solid 1px blue;
  display: flex;
}

.navbar-nav {
  padding-right: 41px;
  li {
    .item {
      padding-right: 30px;
      color: black;
      font-size: 1.3rem;
      letter-spacing: 0.2rem;
      text-decoration-style: none;
      &:hover {
        font-weight: 700;
      }
    }
  }
}


