@import "color";

.Header {
  position: fixed;
  top: 0;
  left: 5%;
  width: 90%;
  margin: 0 auto;
  z-index: 1;
  background-color: transparent !important;
}

.itembox {
  justify-content: flex-end;
}

.navbar-brand {
  // 위 오른 아래 왼
  padding: 10px 15px 5px 15px;
  h1 {
    font-size: 24px;
    color: ghostwhite;
  }
}

.navbar-nav {
  li {
    .item {
      color: ghostwhite;
      padding-right: 15px;
      text-decoration-style: none;
      &:hover {
        color: lightyellow;
        font-weight: bold;
      }
    }
  }
}

.navbar-container {
  padding: 20px 0 20px 0;
}
