@import "color";

.homeContainer {
  margin: 0;
  padding: 0;
  height: auto;
  background-color: ghostwhite;
}

// 쇼케이스
.homeUpper {
  height: 700px;
  background-image: url("../../images/showcase.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  .home-search-bar {
    position: relative;
    top: 11%;
    width: 80%;
    margin: 0 auto;
    height: 60px;
  }
}

.HomeJumbotron {
  width: 50%;
  padding-top: 70px;
  padding-left: 50px;
  display: inline-block;
  background-color: transparent;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  h1 {
    font-size: 40px;
    letter-spacing: 0.2rem;
  }
  p {
    padding-top: 20px;
    font-size: 20px;
    letter-spacing: 0.2rem;
  }
  .btn {
    margin-top: 20px;
  }
  .homeLBtn {
    padding-right: 15px;
  }
  .homeRBtn {
    padding-left: 15px;
  }
}

.home-lower-box {
  width: 90%;
  margin: 0 auto;
}
.home-lower {
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  .home-lower-left {
    width: 80%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    .home-lower-left-header {
      a {
        color: $greyfont;
      }
      .active {
        background: ghostwhite;
        border-top: $primaryBlue solid 2px;
        border-bottom: ghostwhite solid 1px;
        color: $primaryBlue;
        font-weight: bold;
      }
      .tab-pane {
        border: none;
      }
    }
    .home-lower-left-main {
      // border: solid 1px coral;
    }
    .questionPost {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 10px 0px 10px 0px;
      .first {
        padding-right: 10px;
        width: 220px;
        color: $greyfont;
        padding-bottom: 6px;
        display: flex;
        text-align: center;
        .firstItem {
          width: 100px;
          .ItemBox {
            margin-top: 8px;
            .ItemBoxImage {
              color: grey;
              font-size: 1rem;
              font-weight: 400;
              padding-top: 5px;
              padding-bottom: 5px;
            }
            .ItemBoxNum {
              text-align: center;
              padding-right: 3px;
              font-size: 1.2rem;
              color: grey;
            }
          }
          .ItemBox2 {
            .ItemBox2Image {
              margin-top: 1px;
            }
          }
        }
      }
    }
  }
  .home-lower-right {
    width: 20%;
    height: auto;
    margin-left: 10px;
    margin-top: 32px;
    .home-lower-right-main {
      border: rgb(224, 224, 224) solid 1px;
      padding: 25px;
      height: 100%;
      margin-bottom: 20px;
      background-color: $primaryBlue;
      opacity: 0.6;
      line-height: 2rem;
      color: $divider;
      &:hover {
        opacity: 0.8;
      }
      hr {
        width: 100%;
        margin: 0 auto 5px auto;
        border-color: $divider;
      }
      a {
        text-decoration: none;
        color: ghostwhite;
        &:hover {
          color: $primaryYellow;
        }
      }
    }
    // .home-lower-right-second {
    //   border: rgb(224, 224, 224) solid 1px;
    //   height: 400px;
    //   margin-bottom: 20px;
    //   background-color: $primaryBlue;
    //   opacity: 0.8;
    //   line-height: 1.8rem;
    //   color: $divider;
    //   .adgoogle {
    //     width: 100%;
    //     height: 100%;
    //   }
    //   hr {
    //     width: 100%;
    //     margin: 0 auto 5px auto;
    //     border-color: $divider;
    //   }
    //   a {
    //     text-decoration: none;
    //     color: ghostwhite;
    //   }
    // }
  }
}
