@import "color";

.homeContainer {
}

.upper {
  height: 500px;
  background-image: url("./img/city3.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding-top: 30px;
  opacity: 0.8;
  text-align: center;
  filter: grayscale(50%);
}

.lower {
  background-color: ghostwhite;
}

.HomeJumbotron {
  width: 50%;
  padding-top: 90px;
  padding-left: 50px;
  display: inline-block;
  background-color: transparent;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  h1 {
    font-size: 40px;
    letter-spacing: 0.2rem;
  }
  p {
    padding-top: 20px;
    font-size: 20px;
    letter-spacing: 0.2rem;
  }
  .btn {
    margin-top: 20px;
  }
  .homeLBtn {
    padding-right: 15px;
  }
  .homeRBtn {
    padding-left: 15px;
  }
}

.qHeader {
  width: 70%;
}
.lowerLeft {
  padding-top: 10px;
  width: 70%;
  display: inline-block;
  margin-top: 40px;
}

.lowerRight {
  float: right;
  width: 30%;
  height: 1000px;
}

.lowerRightContent {
  margin-top: 80px;
  height: 200px;
  background-color: lightblue;
}
.post {
  height: 70px;
  text-align: center;
}

.postTitle {
  text-decoration: none;
  position: relative;
  top: 30%;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 90%;
  border-width: 0.5px;
  background-color: lightgray;
  height: 1px;
}
