.loginBtn {
  width: 100%;
  height: 40px;
}
.homeInputContainer {
  width: 40%;
  max-width: 600px;
  float: right;
  padding-top: 90px;
  padding-right: 50px;
}
.buttonContainer {
  align-items: center;
  margin-bottom: 40px;
}
.homeInputTitleTag {
  height: 38px;
  width: 90px;
}
.signUpBtn {
  left: 50%;
}
