@import "color";

#markdown {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 30px;
  h1 {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 1.2rem;
    font-weight: normal;
    color: $greyfont;
  }
  .mark_down_box {
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mark_down_input {
      textarea {
        margin: 0;
        padding: 0;
        border: none;
      }
      width: 48%;
      height: 100%;
      border: solid 1px $divider;
      background: $primaryBlue;
      opacity: 0.8;
      border-radius: 3px;
      h2 {
        margin: 0;
        padding: 10px 15px;
        font-size: 1.2rem;
        letter-spacing: 3px;
        font-weight: normal;
        color: white;
      }
      .mark_down_input_item {
        width: 100%;
        height: 600px;
        padding: 10px 15px;
      }
    }
    .mark_down_view {
      width: 48%;
      height: 100%;
      background: $primaryBlue;
      opacity: 0.8;
      border: solid 1px $divider;
      border-radius: 3px;
      overflow-wrap: break-word;
      h2 {
        margin: 0;
        padding: 10px 15px;
        font-size: 1.2rem;
        letter-spacing: 3px;
        font-weight: normal;
        color: white;
      }
      .mark_down_view_item {
        width: 100%;
        min-height: 600px;
        padding: 10px 15px;
        background: white;
      }
    }
  }
  .mark_down_btn {
    text-align: right;
  }
}

pre {
  background-color: rgba($color: #4b4949, $alpha: 1);
  color: ghostwhite;
  padding: 20px;
  width: 200px;
}
