#markdown {
  background-color: white;
  padding: 20px;
  border-radius: 5px;

  .input_mark_down {
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
  }

  pre {
    background-color: rgba($color: #4b4949, $alpha: 1.0);
    color: ghostwhite;
    padding: 20px;
    width: 200px;
  }
  .mark_down_view {
    display: inline-block;
    float: right;
    position: absolute;
    right: 20%;
  }
}
