@import "color";

.quest {
  height: 1000px;
  background: ghostwhite;

  // 헤더
  .questHeader {
    width: 90%;
    padding-bottom: 20px;
    margin: 0 auto;
    border-bottom: 2px solid $divider;
    .questHeaderTop {
      display: flex;
    }
  }
  .tags {
    padding-top: 10px;
    .questListBtn {
      height: 25px;
      padding-top: 2px;
      margin-right: 3px;
    }
  }
  h1 {
    font-size: 35px;
    margin-bottom: 0;
    padding: 50px 0px 3px 0px;
  }

  // 미들
  .questMain {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    .questMainFirst {
      width: 10%;
      border: 1px solid black;
      padding-left: 20px;
    }
    .questMainSecond {
      width: 75%;
      border: 1px solid black;
      padding: 0px 20px;
    }
    .questMainThird {
      width: 15%;
      border: 1px solid black;
      padding-left: 20px;
    }
  }
}

.third {
  width: 90px;
  margin-right: 15px;
  padding: 5px 8px;
  border: solid 1px $greyfont;
  color: $greyfont;
  text-align: center;
  letter-spacing: 0.1rem;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  &:hover {
    border: solid 1px $primaryGreen;
    background: $primaryGreen;
    color: #fff;
  }
}
