@import "color";

.QuestionEntryQuestion {
  height: 1000px;
  background: ghostwhite;

  // 헤더
  .QuestionEntryHeader {
    width: 90%;
    padding-bottom: 20px;
    margin: 0 auto;
    border-bottom: 2px solid $divider;
    .questHeaderTop {
      display: flex;
    }
  }
  .tags {
    padding-top: 10px;
    .questListBtn {
      height: 25px;
      padding-top: 2px;
      margin-right: 3px;
    }
  }
  h1 {
    font-size: 35px;
    margin-bottom: 0;
    padding: 50px 0px 3px 0px;
  }

  // 미들
  .QuestionEntryMain {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    height: 500px;
    .QuestionEntryMainFirst {
      width: 10%;
      margin: 0 auto;
      .LikeCountBox {
        .LikeCountBoxImage {
          text-align: center;
          margin-bottom: 10px;
        }
        .LikeCountBoxNum {
          text-align: center;
          font-size: 25px;
          padding-right: 2px;
          color: grey;
        }
      }
    }
    .QuestionEntryMainSecond {
      width: 70%;
      padding: 0px 20px;
      border: 1px solid black;
    }
    .QuestionEntryMainThird {
      width: 20%;
      text-align: center;
      // border: 1px solid black;
    }
    .QuestionEntryMainThirdViewCount{
      margin: 0 auto;
      .ViewCountBox {
        .ViewCountBoxImage {
          text-align: center;
          margin-bottom: 10px;
        }
        .ViewCountBoxNum {
          text-align: center;
          font-size: 25px;
          padding-right: 2px;
          color: grey;
        }
      }
    }
    .QuestionEntrythirdReward {
      width: 90px;
      margin: 0 auto;
      margin-top: 10px;
      padding: 5px 8px;
      border: solid 1px $greyfont;
      border: solid 1px $primaryGreen;
      background: $primaryGreen;
      color: #fff;
      text-align: center;
      letter-spacing: 0.1rem;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      &:hover {
        border: solid 1px $primaryGreen;
        background: #fff;
        color: $primaryGreen;
      }
    }
  }
}

// reward

// reward
