@import "color";

.rankSegment {
  width: 90%;
  position: relative;
  margin: 0 auto;
  .card {
    margin-bottom: 20px;
  }
  .segment {
    background: $primaryBlue;
    display: flex;
    .rank-num {
      width: 50px;
      height: 50px;
      margin-right: 30px;
      display: flex;
      font-size: 3rem;
      font-weight: 900;
      color: $primaryBlue;
      // border: solid 1px red;
      justify-content: center;
      align-items: center;
    }
    .rank-image {
      margin-right: 20px;
      border-radius: 5px;
      width: 60px;
      height: 60px;
      box-shadow: 2px 3px 3px lightgrey;
      cursor: pointer;
    }
    .rank-info-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;
      .rank-info-top {
        display: flex;
        .rank-name {
          margin-right: 10px;
          color: lighten($primaryBlue, 30%);
          opacity: 0.8;
          font-size: 1.7rem;
          font-weight: bolder;
          &:hover {
            color: lighten($primaryBlue, 50%);
            font-weight: bolder;
          }
          cursor: pointer;
        }
        .total-reward {
          color: $greyfont;
          font-weight: bold;
          font-size: 1.3rem;
          .ether {
            font-size: 1rem;
            font-weight: 500;
          }
        }
        .total-reward:hover span {
          display: none;
        }
        .total-reward:hover:before {
          content: "누적 이더리움";
        }
      }
    }
  }
}
.rankContainer {
  background: ghostwhite;
  height: auto;
  min-height: 800px;
  padding-bottom: 50px;
}
.rankUpper {
  height: 100px;
  margin-top: 40px;
  text-align: center;
  .user-search-bar {
    width: 90%;
    margin: 0 auto;
    height: 60px;
  }
}

.rank-first {
  color: $primaryYellow;
}

.rank-second {
  color: silver
}

.rank-third {
  color: #CD7F32;
}
