@import "color";

.tag-container {
  height: 800px;
  background: ghostwhite;
  height: auto;
  .tag-content {
    width: 90%;
    margin: 30px auto 0 auto;
    h2 {
      font-weight: normal;
      color: $greyfont;
    }
    .wrapper {
      display: grid;
      width: 100%;
      grid-template-columns: auto auto auto;
      grid-template-rows: 100px 100px 100px 100px;
      grid-gap: 30px;
      background: ghostwhite;
      color: #444;
      padding-bottom: 80px;
      .box {
        border-bottom: rgb(224, 224, 224) solid 1px;
        padding: 20px;
        font-size: 130%;
        span {
          color: $greyfont;
          padding: 10px;
          cursor: pointer;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}
.tag-input-container {
  margin-top: 40px;
  text-align: center;
  .tag-search-bar {
    width: 90%;
    margin: 0 auto;
    height: 60px;
  }
}
